* {
  margin: 0;
}

.header {
    height: 1px;
    position: fixed;
    width: 100%;
}

/* TOP */

.top {
    cursor: pointer;
    padding: 0.8%;
    background-image:linear-gradient(to left, rgb(1, 1, 33),  rgb(67, 111, 215) 45%,  rgb(1, 1, 33)) ;
}

.top:hover {
    background-image:linear-gradient(to left, rgb(0, 0, 0),  rgba(5, 5, 137, 0.837) 45%,  rgb(0, 0, 0)) ;
}

.top p {  
    font-weight: 500;
    text-align: center;
    margin-right: 3.4%;
    color: rgb(236, 234, 234);
}



/* NAV */
a {
  text-decoration: none;
}

nav {
    position: relative;
    align-items: center;
    padding: 0.4%;
    display: flex; 
    flex-direction: row;
    background-color: rgb(1, 1, 33);
    white-space: nowrap;
    border-bottom: solid 0.1px rgb(52, 50, 79);
    /* z-index: 1; */

}

.logo-and-name {
    align-items: center;
    padding: 1%;
    display: flex;
    gap: 3%;
    margin-right: 0%;
    position: relative; 
    left: 7%;
}

.web-name {
    font-size: 155%;
    color: white;
}

.com {
    color: gray;
}

.logo {
    height: 25px;
    width: 25%;

}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 13%;
    color: rgb(221, 218, 218);
    font-size: 100%;
}

.nav-list > li:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.101);
    padding: 2%;
    transition-duration: 0.7s;
}

.nav-list > li {
    border-radius: 5px;
    padding: 2%;
    position: relative; 
    left: 40%;
    cursor: pointer;
}

.searchIcon {
    background-color: rgba(128, 128, 128, 0.358);
    border-radius: 50%;
    padding: 10px;
    width: 5.4%;
    cursor: pointer;
}

.searchIcon:hover {
    background-color: rgba(128, 128, 128, 0.584);
    transition-duration: 0.7s;
}

.log-sign-search {
    display: flex;
    gap: 4%;
    position: absolute;
    right: -4.1%;

}


.log-sign-search > button {
    font-weight: 679;
    border-radius: 10px;
    height: 46px;
    width: 16%;
    cursor: pointer;
}

.log-sign-search > button:nth-child(2) {
    color: white;
    border: solid white 2px;
    background-color: transparent;
}

.log-sign-search > button:nth-child(2):hover {
    color: rgb(212, 210, 210);
    border:solid rgb(212, 210, 210) 2px;

}

.log-sign-search > button:nth-child(3) {
    border: none;
    width: 19%;
} 

.log-sign-search > button:nth-child(3):hover {
    background-color: rgb(212, 210, 210);
}

/* Hero */

.hero {
    height: 96vh;
    color: white;
    background-image: linear-gradient(280deg, rgb(191, 105, 134) ,rgb(34, 0, 128) ,rgb(41, 90, 121), rgb(1, 1, 33) 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left:17%;
}

.hero > h1 {
    margin-top: 13.5%;
    font-size: 324%;
}

.hero > p {
    margin-top: 2%;
    font-size: 165%;
    width: 59%;
}

.hero > form {
    margin-top: 2.5%;
    display: flex;
    gap: 1.4%;
}

.hero > form >  #email {
    padding-left: 1%;
    border-radius: 7px;
    border: none;
    background-color: rgba(124, 124, 124, 0.232);
    font-size: 85%;
    height: 46px;
    width: 29.5%;
    color: white;
}

.hero > form >  #signup {
    padding-left: 1.9%;
    padding-right: 1.9%;
    color: blue;
    font-weight: 500;
    font-size: 95%;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.buy-cryto-button {
    padding: 5px;
    width: 63px;
    height: 62px;
    border: none;
    border-radius: 100%;
    background-color: #1a60b5;
    position: fixed;
    right: 2.8%;
    bottom: 10.2%;
    white-space: nowrap;
    cursor: pointer;
}

.buy-cryto-button:hover::after {
    content: 'Click to Message ';
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buy-cryto-button:hover {
    width: 20%;
}

.buy-cryto-button-img {
    animation-name: twist;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-top: 5%;
    width: 60%;
    border-radius: 50% ;
}

@keyframes twist {
    0% {
        transform: rotateY(180deg);
    }
    20% {
        transform: rotateY(360deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.get-price {
    margin-top: -5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.9%;
    align-items: center;
}

/* Getprice */

.price-div {
    /* position: relative; */
    left: 7.5%;
    padding: 1.7%;
    background-color: white;
    width: 14%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow:  0px 10px 30px 10px rgba(0, 0, 0, 0.126);;
    /* z-index: -1; */
}

.price-div:hover {
    transition-duration :0.5s ;
    background-color: rgb(242, 242, 242);
}

.price-img {
    border-radius: 50%;
    width: 22%;
}
body{
    height: 200vh;
}
.img-buttons {
    display: flex;
    flex-direction: row;
    gap: 22%;
    align-items: center;
    margin-bottom: 7%;
}

.img-buttons > div {
    display: flex;
    gap: 10%;
    margin-bottom: 10%;
    width: 52%;
}

.img-buttons > div > button {
    border-radius: 3px;
    border: none;
    font-size: 100%;
    padding: 3px;
    width: 100%;
    background-color: rgba(216, 216, 216, 0.421);
    cursor: pointer;
}

.img-buttons > div > button:hover {    
    transition-duration :0.5s ;
    background-color: rgba(216, 216, 216, 0.708);
}

.img-buttons > div > button:nth-child(1) {
    color: blue;
}

.img-buttons > div > button:nth-child(2) {
    color: green;
}

.price-div > div:nth-child(2) > p:nth-child(1) {
    margin-bottom: 4%;
}

.price-div > div:nth-child(2) > p:nth-child(1) {
    display: flex;
    flex-direction: row;
    gap: 8%;
    align-items: center;
}

.price-div > div:nth-child(2) > p:nth-child(1) > span {
    color: gray;
    font-size: 110%;
}

.price-div > div:nth-child(2) > p:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.negative {
    color: red;
}

.positive {
    color:green;
}